/* css för sidan börjar här */

body {
    font-size: 0.9em;
    line-height:1.3em;
    font-family: "Helvetica", "Arial", serif;
}

/* Layout */

#container {
    max-width: 960px;
    margin: 0 auto 0 auto;
    overflow: auto;
}

#header {
    background-image: url(pics/logotyp.png);
    background-repeat:no-repeat;
    background-position:left ;
    height:120px;
}

#navigation {
    float: left;
    width: 180px;
    padding-right:20px;
    padding-top:5px
}

#content {
    float: left;
    max-width: 760px;
    overflow: auto;
    padding-bottom:30px;
}

#footer {
    float: left;
    width: 100%;
    clear: both;
    background-color: #FF7714;
    overflow: auto;
}

/* Typografi */

h1 {
    font-size:2em;
    font-weight:bold;
}

h2 {
    font-size:1.5em;
}

h3 {
    font-size:1.2em;
}

dd {
    font-style:italic;
    padding-bottom:5px;
}

#footer p {
    color:#FFF;
    text-align:center;    
}

/* Blogginläggsspecifik css */

.blogpost {
    border-width:1px;
    border-bottom-style:solid;
    border-color:#FF7714;
    background-color:rgb(245,245,225);
    padding:10px;
    padding-right:35px;
    margin-bottom:10px;
    overflow:auto;
}
h2.blogheader {
    background-image: url(pics/blog-icon.svg);
    background-size:15px;
    background-repeat:no-repeat;
    background-position:top left;
    text-indent:25px;
}

.author {
    font-style:italic;
    clear:both;
    padding-top:20px;
    border-width:1px;
    border-top-style:solid;
    border-color:rgb(200,200,200);
}

/* Länkspecifik css */

a {
    text-decoration:none;
    font-weight:bold;
}

a:link {color: #FF7717; }
a:visited{color: #FF7717; }
a:focus {color: #FF7717; }
a:hover {color:#FFF; background-color: #FF7714;}
a:active {color: #FF7717; }

/* Meny */

#navigation a {
    text-decoration: none;
    font-family: "Helvetica", "Arial", Sans-serif;
    font-weight:normal;
    font-size: 1.2em;
    line-height:1.8em;
    display:block;
}

#navigation ul {
    list-style:none;
    padding-left:0px;
}

#navigation li {
    padding-bottom:2px;
    text-indent:10px;
}

#navigation a:link {color:#FFF; background-color: #FF7714;}
#navigation a:visited {color:#FFF; background-color: #FF7714;}
#navigation a:focus {color:#FFF; background-color: #FF7714;}
#navigation a:hover {color:#FFF; background-color: #FF9914; text-decoration:underline;}
#navigation a:active {color:#FFF; background-color:#FF7714;}

#navigation a.active {color:#FFF; background-color: #FF9914;}

/* Bilder - placering och form */

img {
    border-width:5px;
    border-style:solid;
    border-color:rgb(235,235,215);
}

.left {
    float:left;
    margin-right:15px;
    margin-bottom:15px;
}

.right {
    float:right;
    margin-left:15px;
    margin-bottom:15px;
}

/* Tabell */

table {
    border-width:1px;
    border-style:solid;
    border-color:#FF7714;
    text-align: center;
}

th {
    background-color:#FF7714;
    color:#FFF;
    padding:3px;
}

td {
    background-color:rgb(235,235,215);
    padding:3px;
}