#top {
    background-image: url(pics/logotyp1rad.svg);
    height:50px;
}

#menu a {
    font-size:1.5em;
    text-indent:10px;
    padding:5px;
}

#menu li {
    padding-bottom:5px;
}

#menu a:hover {text-decoration:none;}

