/* css för sidan börjar här */

body {
    font-size: 1em;
    font-family: "Helvetica", "Arial", serif;
    background-color:#FFFEF8;
}

#container {
    max-width: 900px;
    margin: 0 auto 0 auto;
    overflow: auto;
}

#navigation {
    float: left;
    width: 180;
}

#content {
    float: left;
    max-width: 720px;
    overflow: auto;
}

#footer {
    float: left;
    max-width: 900px;
    clear: both;
}

h1 {
    font-size:2em;
    font-weight:bold;
    color:#FF7714;
}

h2 {
    font-size:1.6em;
}

h3 {
    font-size:1.2em;
}

p, li, dt, dd {
    font-size:0.9em;
    line-height:1.3em;
    
}


#navigation a {
    text-decoration: none;
    font-family: "Helvetica", "Arial", Sans-serif;
    font-size: 1.1em;
}
#navigation a:link {color:#FFF; background-color: #FF7714;}
#navigation a:visited{color:#FFF; background-color: #FF7714;}
#navigation a:focus {color:#FFF; background-color: #FF7714;}
#navigation a:hover {color:#FFF; background-color: #FF9914;}
#navigation a:active {color:#FFF; background-color:#FF7714;}
