#header {
    background-image: url(pics/logotyp1rad.svg);
    background-repeat:no-repeat;
    background-position:left;
    height:50px;
}

#navigation a {
    font-size:1.5em;
    text-indent:10px;
    padding:5px;
}

#navigation li {
    padding-bottom:5px;
}

#navigation a:hover {text-decoration:none;}

