body {
    font-size: 0.9em;
    font-family: "Helvetica", "Arial", sans-serif;
}

/* Layout */



#navigation {
}

#content {
    overflow: auto;
    padding-bottom:30px;
}

#footer {
    width: 100%;
    clear: both;
    background-color: #FF7714;
    overflow: auto;
}

/* Typografi */

p {
    line-height:1.3em;
}

h1 {
    font-size:2em;
    font-weight:bold;
}

h2 {
    font-size:1.5em;
    padding-top:0px;
}

h3 {
    font-size:1.2em;
}

dd {
    font-style:italic;
    padding-bottom:5px;
}

#footer p {
    color:#FFF;
    text-align:center;    
    padding:10px;
}

/* Blogginläggsspecifik css */

.blogpost {
    border-width:1px;
    border-bottom-style:solid;
    border-color:#FF7714;
    background-color:rgb(245,245,225);
    padding-left:10px;
    padding-right:10px;
    padding-right:35px;
    margin-bottom:10px;
    overflow:auto;
}

h2.blogheader {
    background-image: url(pics/blog-icon.svg);
    background-size:15px;
    background-repeat:no-repeat;
    background-position:top left;
    padding-top:0px;
    text-indent:25px;
}

.author {
    font-style:italic;
    clear:both;
    padding-top:20px;
    border-width:1px;
    border-top-style:solid;
    border-color:rgb(200,200,200);
}

/* Länkspecifik css */

a {
    text-decoration:none;
    font-weight:bold;
}

a:link {color: #FF7717; }
a:visited{color: #FF7717; }
a:focus {color: #FF7717; }
a:hover {color:#FFF; background-color: #FF7714;}
a:active {color: #FF7717; }

/* Meny */

#navigation a {
    text-decoration: none;
    font-family: "Helvetica", "Arial", Sans-serif;
    font-weight:normal;
    font-size: 1.2em;
    line-height:1.8em;
    display:block;
}


#navigation ul {
    list-style:none;
    padding-left:0px;
}

#navigation li {
    padding-bottom:2px;
}

#navigation a:link {color:#FFF; background-color: #FF7714;}
#navigation a:visited {color:#FFF; background-color: #FF7714;}
#navigation a:focus {color:#FFF; background-color: #FF7714;}
#navigation a:hover {color:#FFF; background-color: #FF9914; text-decoration:underline;}
#navigation a:active {color:#FFF; background-color:#FF7714;}

#navigation a.active {color:#FFF; background-color: #FF9914;}




/* Bilder och video - placering och form */

img {
    border-width:5px;
    border-style:solid;
    border-color:rgb(235,235,215);
    max-width:100%;
}

video {
    max-width:100%;
}


/* Tabell */

table {
    border-width:1px;
    border-style:solid;
    border-color:#FF7714;
    text-align: center;
}

th {
    background-color:#FF7714;
    color:#FFF;
    padding:5px;
}

td {
    background-color:rgb(235,235,215);
    padding:2px;
    font-size:0.8em;
}

/* Formulär */

fieldset {
    border-width:1px;
    border-color:#FF7714;
    border-style:solid;
    padding:20px;
    margin-bottom:20px;
    font-size:0.9em;
    max-width:100%;
}

legend {
    background-color:#FF7714;
    color:#FFF;
    padding:5px;
}

select {
    border-width:1px;
    border-color:rgb(235,235,215);
    border-style:solid;
    padding:5px;
    margin-bottom:10px;
}

input {
    padding:5px;
    margin-top:5px;
}

textarea {
    max-width:100%;
}

.box {
    border-width:1px;
    border-color:rgb(235,235,215);
    border-style:solid;
    margin-bottom:10px;
    margin-top:5px;
    margin-bottom:5px;
}

.button {
    background-color:#FF7714;
    color:#FFF;
    padding:5px;
    border:none;
    border-radius:5px;
    box-shadow:rgba(235,235,215,1) 3px 3px;
    cursor:pointer;
}
